<div class="sidebar">
  <menu class="navlist">
    <li class="item nav-item">
      <a class="link nav-link">
        Home
      </a>
    </li>
    <li class="item nav-item">
      <a href="/tasks" class="link nav-link">
        Tasks
      </a>
    </li>
    <li class="item nav-item">
      <a href="/info" class="link nav-link">
        Info
      </a>
    </li>
  </menu>
</div>
<style>
  .sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%; 
    overflow auto;
  }
  .nav-link {
    display: block;
    color: black;
    padding: 2vh;
    text-decoration: none;
  }
.active {
  background-color: #04AA6D;
  color: white;
}
.nav-item:hover,
.nav-link:hover:not(.active) {
  background-color: #555;
  color: white;
}
@media screen and (max-width; 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    postition: relative;
  }
  .nav-link {
    float: left
  }
}

@media screen and (max-width: 400px) {
  .sidebar{
    text-align: center;
    float: none;
  }
}
</style>
