<p id="sample-text" class="text">
  lorem ipsum lorem ipsum lorem ipsum lorem ipsum ipsum lorem 
  lorem ipsum lorem ipsum lorem ipsum lorem ipsum ipsum lorem   
  lorem ipsum lorem ipsum lorem ipsum lorem ipsum ipsum lorem 
  lorem ipsum lorem ipsum lorem ipsum lorem ipsum ipsum lorem 
  lorem ipsum lorem ipsum lorem ipsum lorem ipsum ipsum lorem 
  lorem ipsum lorem ipsum lorem ipsum lorem ipsum ipsum lorem 
  lorem ipsum lorem ipsum lorem ipsum lorem ipsum ipsum lorem 
</p>
